<mat-toolbar id=header>

    <!-- <span *ngIf="userIsAuth&&isAdmin">
      Admin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span> -->
    <span id = home_link>
      <a routerLink="/"><strong>Eating Well</strong></a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent"><strong>New Post</strong></a>
      </li>

      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"><strong>Login</strong></a>
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"><strong>Signup</strong></a>
      </li>
      <li *ngIf="userIsAuth&&isAdmin">
        <a mat-button routerLink="map" routerLinkActive="mat-accent"><strong>Map</strong></a>
      </li>
      <li *ngIf="userIsAuth&&isAdmin">
          <a mat-button routerLink="d3" routerLinkActive="mat-accent"><strong>D3 using groupBy</strong></a>
      </li>
      <li *ngIf="userIsAuth&&isAdmin">
        <a mat-button routerLink="mapReduceD3" routerLinkActive="mat-accent"><strong>D3 using mapReduce</strong></a>
      </li>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="scraps" routerLinkActive="mat-accent"><strong>More Recipes</strong></a>
      </li>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="/chat" routerLinkActive="mat-accent"><strong>Chat</strong></a>
      </li>
      <li *ngIf="userIsAuth">
        <button mat-button (click)="onLogout()"><strong>Logout</strong></button>
      </li>
    </ul>
</mat-toolbar>
