ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a,button {
  text-decoration: none;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

#header{
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 10px;
  background: #4caf50eb;
}

#home_link{
  padding-bottom: 10px;
}

